{% extends 'flatpages/default.html' %}

{% block head_title %}
Объявление
{% endblock head_title %}

{% block body %}
    <h1>{{ ad.header }}</h1>

    <h5>{{ ad.category_id }}</h5>

    <h6>{{ ad.creation_time|date:'d.m.Y G:i' }}</h6>
    <p>{{ ad.ad }}</p>
    <h6>Автор: {{ ad.user_id }}</h6>
    <hr>

    {% if reply_list %}
        <table>
            <thead>
                <tr>
                    <td>
                        Автор
                    </td>
                    <td>
                        Время создания
                    </td>
                    <td>
                        Отклик
                    </td>
                </tr>
            </thead>
            {% for reply in reply_list %}
                <tr>
                    <td>
                        {{ reply.user_id }}
                    </td>
                    <td>
                        {{ reply.creation_time|date:'d.m.Y G:i' }}
                    </td>
                    <td>
                        {{ reply.reply }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock body %}