{% extends 'flatpages/default.html' %}

{% block title %}
Мои объявления
{% endblock title %}

{% block head_title %}
Мои объявления
{% endblock head_title %}

{% block body %}
    <h1>Мои объявления</h1>

    <h2>Фильтр объявлений</h2>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>
    <hr>

    {% if page_obj %}
        {% for ad in page_obj %}
            <h3>
                <a href="{% url 'ad_detail_view' ad.id %}">{{ ad.header|truncatechars:50 }}</a>
            </h3>
            <p>
                {{ ad.category_id }}
            </p>
            <p>
                {{ ad.creation_time|date:'d.m.Y G:i' }}
            </p>
            <p>
                {{ ad.ad|striptags|truncatewords:70 }}
            </p>

            {% if reply_list %}
                <table>
                {% for reply in reply_list %}
                    {% if reply.ad_id.id == ad.id %}
                        <tr>
                            <td>
                                {% if not reply.is_approved %}
                                    <div>
                                        <button><a href="{% url 'reply_approve_view' reply.id %}">Подтвердить</a></button>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ reply.user_id.email }}
                            </td>
                            <td>
                                {{ reply.creation_time }}
                            </td>
                            <td>
                                {{ reply.reply }}
                            </td>
                            <td>
                                {% if not reply.is_approved %}
                                    <div>
                                        <button><a href="{% url 'reply_delete_view' reply.id %}">Удалить</a></button>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            {% endif %}
            <hr>
        {% endfor %}
        {% block paginator %}
            {{ block.super }}
        {% endblock paginator %}
    {% else %}
        <h2>Нет объявлений!</h2>
    {% endif %}

{% endblock body %}