{% extends 'flatpages/default.html' %}

{% block title %}
Мои объявления
{% endblock title %}

{% block head_title %}
Мои объявления
{% endblock head_title %}

{% block body %}
    <h1>Мои объявления</h1>

    <h2>Фильтр объявлений</h2>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>

    <hr>

    {% if filter.qs %}
        {% for ad in filter.qs %}
            <h3>
                <a href="{% url 'ad_detail_view' ad.id %}">{{ ad.header|truncatechars:50 }}</a>
            </h3>
            <p>
                {{ ad.category_id }}
                {% comment %} <a href="{% url 'ad_detail_view' ad.id %}">{{ ad.header }}</a> {% endcomment %}
            </p>
            <p>
                {{ ad.creation_time|date:'d.m.Y G:i' }}
            </p>
            <p>
                {{ ad.ad|safe|truncatewords:10 }}
            </p>

            {% if reply_list %}
                <table>
                {% for reply in reply_list %}
                    {% if reply.ad_id.id == ad.id %}
                        <tr>
                            <td>
                                {% if not reply.is_approved %}
                                    <div>
                                        <button><a href="{% url 'reply_approve_view' reply.id %}">Подтвердить</a></button>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ reply.user_id.email }}
                            </td>
                            <td>
                                {{ reply.creation_time }}
                            </td>
                            <td>
                                {{ reply.reply }}
                            </td>
                            <td>
                                {% if not reply.is_approved %}
                                    <div>
                                        <button><a href="{% url 'reply_delete_view' reply.id %}">Удалить</a></button>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            {% endif %}
            <hr>
        {% endfor %}
        {% comment %} {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1">{% translate "First" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}"> < </a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?page={{ num }}"> {{ num }} </a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> > </a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "Last" %}</a>
            {% endif %}
        {% endif %} {% endcomment %}
    {% else %}
        <h2>Нет объявлений!</h2>
    {% endif %}

{% endblock body %}