{% extends 'flatpages/default.html' %}

{% load url_filters %}

{% block head_title %}
Объявления
{{ ads|length }}
{% endblock head_title %}

{% block body %}
    <h1>Все объявления</h1>
    <hr>

    {% if page_obj %}
        <table>
            <thead>
                <tr>
                    <td>
                        Заголовок
                    </td>
                    <td>
                        Автор
                    </td>
                    <td>
                        Категория
                    </td>
                    <td>
                        Время создания
                    </td>
                    <td>
                        Объявление
                    </td>
                </tr>
            </thead>
            {% for ad in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'ad_detail_view' ad.id %}">{{ ad.header|truncatechars:50 }}</a>
                    </td>
                    <td>
                        {{ ad.user_id.email }}
                    </td>
                    <td>
                        {{ ad.category_id }}
                        {% comment %} <a href="{% url 'ad_detail_view' ad.id %}">{{ ad.header }}</a> {% endcomment %}
                    </td>
                    <td>
                        {{ ad.creation_time|date:'d.m.Y G:i' }}
                    </td>
                    <td>
                        {{ ad.ad|striptags|truncatewords:20 }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% block paginator %}
            {{ block.super }}
        {% endblock paginator %}
    {% else %}
        <h2>Нет объявлений!</h2>
    {% endif %}

{% endblock body %}