{% extends 'flatpages/default.html' %}
{% load account %}
{% load url_filters %}

{% block head_title %}
Новости
{{ news_list|length }}
{% endblock head_title %}

{% block body %}
    <h1>Все новости</h1>
    {% if user.is_authenticated %}
        {% if in_mailing_list %}
            <div>
                <button><a href="{% url 'news_unsubscribe_button' %}">Отписаться от рассылки новостей</a></button>
            </div>
        {% else %}
            <div>
                <button><a href="{% url 'news_subscribe_button' %}">Подписаться на рассылку новостей</a></button>
            </div>
        {% endif %}
    {% endif %}
    <hr>
    {% if page_obj %}
        <table>
            <thead>
                <tr>
                    <td>
                        Заголовок
                    </td>
                    <td>
                        Автор
                    </td>
                    <td>
                        Время создания
                    </td>
                    <td>
                        Новость
                    </td>
                </tr>
            </thead>
            {% for news in page_obj %}
                <tr>
                    <td>
                        <a href="{% url 'news_detail_view' news.id %}">{{ news.header|truncatechars:50 }}</a>
                    </td>
                    <td>
                        {{ news.user_id.email }}
                    </td>
                    <td>
                        {{ news.creation_time|date:'d.m.Y G:i' }}
                    </td>
                    <td>
                        {{ news.news|striptags|truncatewords:10 }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% block paginator %}
            {{ block.super }}
        {% endblock paginator %}
    {% else %}
        <h2>Нет новостей!</h2>
    {% endif %}

{% endblock body %}